/* CSS Document */


html, body {
	background-color: #8f8f88;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: left;
}
#container {
	margin: 0 auto;
	width:1000px;
	text-align:center;
}
#logo {
	float:left;
	width: 1000px;
	height:150px;
	text-align: left;
}
#menuLeft {
	float:left;
	width: 150px;
	text-align: left;
	border-bottom:thick;
	border-bottom-color:#0F0;
}
#menuTop {
	float:left;
	width:850px;
	text-align:center;
}
#tabela {
	float:left;
	text-align:left;
	width:800px;
}
#rejestruj {
	margin: 0 auto;
	text-align:left;
	width:500px;
}