/* CSS Document */


html, body {
	background-color: #8f8f88;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: left;
}
#container {
	margin: 0 auto;
	width:1000px;
	text-align:center;
}
#logo {
	background-image:url('img/logo.png');
	float:left;
	width: 1000px;
	height:150px;
	text-align: left;
}
#menuLeft {
	float:left;
	width: 150px;
	text-align: left;
	border-bottom:thick;
	border-bottom-color:#0F0;
}
.menuLeftButtons {
	float:left;
	width:140px;
	height:22px;
}
#menuTop {
	float:left;
	width:850px;
	text-align:left;
}
#tabela {
	float:left;
	text-align:left;
	width:800px;
}
#rejestruj {
	margin-left: auto; 
	margin-right: auto;
	float:left;
	text-align:left;
	width:1000px;
}
.tabela {
	text-align:left;
	margin:0 auto;
}
.menuTop {
	float:left;
	text-align:left;
}